* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../../assets/fonts/SourceSansPro-Regular.otf");
}
body {
  position: relative;
  font-family: "SourceSansPro-Regular";
}

.header__hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/header__heros.svg") #414249 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  position: relative;
}
.header__hero .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  height: 100px;
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header__hero .header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  bottom: 0;
}
.header__hero .header__left {
  display: flex;
  align-items: center;
  gap: 25px !important;
}
.header__hero .header__description-title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0%;
}
.header__hero .header__right {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.header__hero .header__contact-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__hero .header__contact-item-top {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  margin-bottom: 5px;
}
.header__hero .header__contact-item-top span {
  color: #FFFFFF;
  font-size: 13px;
  display: block;
  line-height: 14px;
  color: #FFFFFF;
  font-weight: 300;
}
.header__hero .header__contact-item-bottom a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}
.header__hero .header__contact-item-bottom span {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}
.header__hero .header__contact-time {
  display: flex;
  gap: 7px;
  align-items: center;
}
.header__hero .header__contact-text--span {
  font-size: 13px !important;
  color: #FFFFFF !important;
  font-weight: 300 !important;
}
.header__hero .header__description {
  margin-right: auto;
  color: #ccc;
}
.header__hero .header__description-title {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.header__hero .header__description-subtitle {
  font-size: 0.9rem;
}
.header__hero .header__button {
  border-radius: 5px;
  background: #FD0;
  padding: 12px 25px;
  border: none;
  outline: none;
  color: #303030;
  text-align: center;
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;
}
.header__hero .header__button:hover {
  background-color: rgb(229.5, 198.9, 0);
  transform: scale(1.05);
  color: #FFFFFF;
}
.header__hero .header__navigation {
  display: flex;
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 30px;
  height: 100px;
}
.header__hero .header__nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
}
.header__hero .header__nav-link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out;
  display: block;
  position: relative;
}
.header__hero .header__nav-link:hover {
  color: #FD0;
}
.header__hero .header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #FFDD00;
  transition: width 0.3s ease-in-out;
  display: block;
}
.header__hero .header__nav-link:hover::after {
  width: 100%;
}

.hero {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  position: relative;
}
.hero__title {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero__subtitle {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.hero__button {
  margin: 20px 0;
  border-radius: 5px;
  background: #FD0;
  padding: 12px 25px;
  border: none;
  outline: none;
  color: #303030;
  text-align: center;
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;
}
.hero__button:hover {
  background-color: rgb(229.5, 198.9, 0);
  transform: scale(1.05);
  color: #FFFFFF;
}
.hero__image-wrapper {
  transform: translate(200px, 50px);
}
.hero__image-wrapper img {
  width: 115%;
}

.main {
  width: 100%;
  padding: 80px 0;
}
.main .selling-points {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .selling-points__content {
  width: 50%;
}
.main .selling-points__image-container {
  text-align: center;
  width: 50%;
}
.main .selling-points__image-container img {
  width: 75%;
}
.main .selling-points__title {
  color: #2C2E35;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  text-wrap: nowrap;
  line-height: 45px;
}
.main .selling-points__description {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0;
}
.main .selling-points__benefit {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}
.main .selling-points__benefit-text {
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.main .selling-points__content-top {
  display: flex;
  align-items: center;
  gap: 20px;
  height: auto;
}
.main .selling-points__content-top .line {
  border-radius: 5px;
  height: 95px;
  width: 7px;
  flex-shrink: 0;
  background-color: #FD0;
}
.main .promo {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.main .promo__content-left {
  width: 45%;
}
.main .promo__title {
  color: #2C2E35;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px;
}
.main .promo__content-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .promo__content-top .line {
  width: 7px;
  height: 95px;
  background-color: #FD0;
  border-radius: 5px;
}
.main .promo__description {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0;
}
.main .promo__image-container {
  width: calc(55% - 50px);
  transform: translateY(60px);
  position: relative;
  z-index: 5 !important;
}
.main .promo__bonus {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.main .promo__bonus svg {
  display: block;
}
.main .promo__bonus-left p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "SourceSansPro-Regular";
}
.main .promo__bonus-left h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  font-family: "SourceSansPro-Regular";
}
.main .principles {
  position: relative;
  z-index: 6 !important;
  bottom: 90px;
  max-width: 1460px;
  margin: 0 auto -90px auto;
  width: 100%;
  border-radius: 150px 50px;
  background: url("../../assets/images/princples__hero.png") #2C2E35;
}
.main .principles__container {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}
.main .principles__top {
  display: flex;
  gap: 20px;
}
.main .principles__top .line {
  width: 7px;
  height: 95px;
  background-color: #FD0;
  border-radius: 5px;
}
.main .principles__top .left h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FFF;
  font-family: "SourceSansPro-Regular";
}
.main .principles__top .left p {
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  font-family: "SourceSansPro-Regular";
}
.main .principles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 30px 0;
}
.main .principles__item {
  width: calc(50% - 12.5px);
  display: flex;
  gap: 25px;
  align-items: start;
}
.main .principles__item-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
  margin: 0 0 10px 0;
}
.main .principles__item-description {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "SourceSansPro-Regular";
  margin: 15px 0;
}
.main .conditions {
  padding-top: 50px;
  background-image: url("../../assets/images/flowers.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center;
}
.main .conditions__container {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}
.main .conditions__tops {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .conditions__tops .line {
  width: 7px;
  height: 95px;
  background-color: #FD0;
  border-radius: 5px;
}
.main .conditions__tops .left h2 {
  color: #2C2E35;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
}
.main .conditions__tops .left p {
  color: #2C2E35;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
}
.main .conditions__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 30px 0;
  box-sizing: border-box;
}
.main .conditions__item {
  width: calc(33.3333333333% - 13.3333333333px);
  border-radius: 10px;
  border: 1px solid #CDD0D7;
  padding: 15px;
  background: #FFF;
}
.main .conditions__top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .conditions__item-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .conditions__item-title .left h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .conditions__item-title .left p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .conditions__item-title .right span {
  color: #CDD0D7;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .conditions__bottom {
  margin-top: 10px;
}
.main .conditions__bottom p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.main .video-thumbnails {
  margin: 30px 0;
}
.main .video-thumbnails__container {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}
.main .video-thumbnails__tops {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .video-thumbnails__tops .line {
  width: 7px;
  height: 95px;
  background-color: #FD0;
  border-radius: 5px;
}
.main .video-thumbnails__tops .left h2 {
  color: #2C2E35;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
}
.main .video-thumbnails__tops .left p {
  color: #2C2E35;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
}
.main .video-thumbnails__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.main .video-thumbnails__item {
  width: calc(33.3333333333% - 13.3333333333px);
  margin-top: 30px;
}
.main .video-thumbnails__item h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "SourceSansPro-Regular";
  margin: 10px 0;
}
.main .video-thumbnails__item p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "SourceSansPro-Regular";
}
.main .video-thumbnails__item-preview {
  width: 100%;
  height: 243px;
  position: relative;
  background-image: url("../../assets/images/video_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.main .video-thumbnails__item-play-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/*# sourceMappingURL=main.css.map */
