* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../../assets/fonts/SourceSansPro-Regular.otf");
}

@mixin container {
    max-width: 1260px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

$font-source: "SourceSansPro-Regular";

body {
    position: relative;
    font-family: $font-source;
}

.header__hero {
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/header__heros.svg") #414249 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        height: 100px;
        @include container();
        position: relative;


        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #FFFFFF;
            opacity: 0.1;
            bottom: 0;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 25px !important;
        }

        &__description-title {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: 0%;

        }

        &__right {
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-between;
        }

        &__contact-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__contact-item-top {
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
            margin-bottom: 5px;

            span {
                color: #FFFFFF;
                font-size: 13px;
                display: block;
                line-height: 14px;
                color: #FFFFFF;
                font-weight: 300;

            }

        }

        &__contact-item-bottom {
            a {
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 18px;
            }

            span {
                color: #FFFFFF;
                font-size: 16px;
                line-height: 100%;
                font-weight: 500;
            }
        }

        &__contact-time {
            display: flex;
            gap: 7px;
            align-items: center;
        }

        &__contact-text--span {
            font-size: 13px !important;
            color: #FFFFFF !important;
            font-weight: 300 !important;
        }


        &__description {
            margin-right: auto;
            color: #ccc;

            &-title {
                display: block;
                font-size: 1.1rem;
                margin-bottom: 5px;
            }

            &-subtitle {
                font-size: 0.9rem;
            }
        }



        &__button {
            border-radius: 5px;
            background: #FD0;
            padding: 12px 25px;
            border: none;
            outline: none;
            color: #303030;
            text-align: center;
            font-family: $font-source;
            font-size: 15px;
            font-style: normal;
            cursor: pointer;
            font-weight: 600;
            line-height: normal;
            transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;

            &:hover {
                background-color: darken(#ffdd00, 5%);
                transform: scale(1.05);
                color: #FFFFFF;
            }
        }

        &__navigation {
            display: flex;
            @include container();
            padding: 25px 30px;
            height: 100px;
        }

        &__nav-list {
            display: flex;
            gap: 100px;
            list-style: none;
        }

        // &__nav-item {

        // }

        &__nav-link {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFFFFF;
        }
    }
}



.hero {
    @include container();
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    position: relative;

    &__title {
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        color: #FFF;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    &__button {
        margin: 20px 0;
        border-radius: 5px;
        background: #FD0;
        padding: 12px 25px;
        border: none;
        outline: none;
        color: #303030;
        text-align: center;
        font-family: $font-source;
        font-size: 15px;
        font-style: normal;
        cursor: pointer;
        font-weight: 600;
        line-height: normal;
        transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;

        &:hover {
            background-color: darken(#ffdd00, 5%);
            transform: scale(1.05);
            color: #FFFFFF;
        }
    }
    &__image-wrapper{
       transform: translate(200px,50px);
       img{
            width: 115%;
       }
    }

}

.main {
    width: 100%;

    .selling-points {
        @include container();
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__title {
        width: 50%;
        color: #2C2E35;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        &::after{
            content: "";
            position: absolute;

        }
    }
}