* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../../assets/fonts/SourceSansPro-Regular.otf");
}

@mixin container {
    max-width: 1260px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

$font-source: "SourceSansPro-Regular";

body {
    position: relative;
    font-family: $font-source;
}

.header__hero {
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/header__heros.svg") #414249 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        height: 100px;
        @include container();
        position: relative;


        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #FFFFFF;
            opacity: 0.1;
            bottom: 0;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 25px !important;
        }

        &__description-title {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: 0%;

        }

        &__right {
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-between;
        }

        &__contact-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__contact-item-top {
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
            margin-bottom: 5px;

            span {
                color: #FFFFFF;
                font-size: 13px;
                display: block;
                line-height: 14px;
                color: #FFFFFF;
                font-weight: 300;

            }

        }

        &__contact-item-bottom {
            a {
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 18px;
            }

            span {
                color: #FFFFFF;
                font-size: 16px;
                line-height: 100%;
                font-weight: 500;
            }
        }

        &__contact-time {
            display: flex;
            gap: 7px;
            align-items: center;
        }

        &__contact-text--span {
            font-size: 13px !important;
            color: #FFFFFF !important;
            font-weight: 300 !important;
        }


        &__description {
            margin-right: auto;
            color: #ccc;

            &-title {
                display: block;
                font-size: 1.1rem;
                margin-bottom: 5px;
            }

            &-subtitle {
                font-size: 0.9rem;
            }
        }



        &__button {
            border-radius: 5px;
            background: #FD0;
            padding: 12px 25px;
            border: none;
            outline: none;
            color: #303030;
            text-align: center;
            font-family: $font-source;
            font-size: 15px;
            font-style: normal;
            cursor: pointer;
            font-weight: 600;
            line-height: normal;
            transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;

            &:hover {
                background-color: darken(#ffdd00, 5%);
                transform: scale(1.05);
                color: #FFFFFF;
            }
        }

        &__navigation {
            display: flex;
            @include container();
            padding: 25px 30px;
            height: 100px;
        }

        &__nav-list {
            display: flex;
            gap: 100px;
            list-style: none;
        }

        // &__nav-item {

        // }

        &__nav-link {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFFFFF;
            transition: color 0.3s ease-in-out;
            display: block;
            position: relative;

            &:hover {
                color: #FD0
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0;
                height: 2px;
                background-color: #FFDD00;
                transition: width 0.3s ease-in-out;
                display: block;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.hero {
    @include container();
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    position: relative;

    &__title {
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        color: #FFF;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    &__button {
        margin: 20px 0;
        border-radius: 5px;
        background: #FD0;
        padding: 12px 25px;
        border: none;
        outline: none;
        color: #303030;
        text-align: center;
        font-family: $font-source;
        font-size: 15px;
        font-style: normal;
        cursor: pointer;
        font-weight: 600;
        line-height: normal;
        transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;

        &:hover {
            background-color: darken(#ffdd00, 5%);
            transform: scale(1.05);
            color: #FFFFFF;
        }
    }

    &__image-wrapper {
        transform: translate(200px, 50px);

        img {
            width: 115%;
        }
    }

}

.main {
    width: 100%;
    padding: 80px 0;

    .selling-points {
        @include container();
        display: flex;
        align-items: center;
        justify-content: center;


        &__content {
            width: 50%;
        }

        &__image-container {
            text-align: center;
            width: 50%;

            img {
                width: 75%;
            }
        }

        &__title {
            color: #2C2E35;
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            position: relative;
            text-wrap: nowrap;
            line-height: 45px;
        }

        &__description {
            color: #000;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin: 10px 0;
        }

        &__benefit {
            display: flex;
            align-items: center;
            margin: 10px 0;
            gap: 10px;
        }

        &__benefit-text {
            color: #000;
            font-family: "Source Sans Pro";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
        }

        &__content-top {
            display: flex;
            align-items: center;
            gap: 20px;
            height: auto;

            .line {
                border-radius: 5px;
                height: 110px;
                width: 7px;
                flex-shrink: 0;
                background-color: #FD0;
            }
        }

    }

    .promo {
        @include container();
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        &__content-left {
            width: 45%;
        }

        &__title {
            color: #2C2E35;
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: 45px;
        }

        &__content-top {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 110px;
                background-color: #FD0;
                border-radius: 5px;
            }
        }

        &__description {
            color: #000;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin: 10px 0;
        }

        &__image-container {
            width: calc(55% - 50px);
            transform: translateY(60px);
            position: relative;
            z-index: 5 !important;
        }

        &__bonus {
            display: flex;
            gap: 10px;
            margin: 20px 0;

            svg {
                display: block;
            }
        }

        &__bonus-left {
            p {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                font-family: $font-source;
            }

            h3 {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                font-family: $font-source;
            }
        }

    }

    .principles {
        position: relative;
        z-index: 6 !important;
        bottom: 90px;
        max-width: 1460px;
        margin: 0 auto -90px auto;
        width: 100%;
        border-radius: 150px 50px;
        background: url("../../assets/images/princples__hero.png") #2C2E35;

        &__container {
            @include container();
            padding: 50px 30px;
        }

        &__top {
            display: flex;
            gap: 20px;

            .line {
                width: 7px;
                height: 100px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {

                    font-size: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    color: #FFF;
                    font-family: $font-source;

                }

                p {
                    font-family: "Source Sans Pro";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: #FFF;
                    font-family: $font-source;

                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;
            margin: 30px 0;
        }

        &__item {
            width: calc(50% - 25px/2);
            display: flex;
            gap: 25px;
            align-items: start;
        }

        &__item-title {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-family: $font-source;
            margin: 0 0 10px 0;
        }

        &__item-description {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            font-family: $font-source;
            margin: 15px 0;
        }
    }

    .conditions {
        padding-top: 50px;
        background-image: url("../../assets/images/flowers.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left center;

        &__container {
            @include container();
        }
        &__tops {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 100px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {
                    color: #2C2E35;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: $font-source;
                }

                p {
                    color: #2C2E35;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    font-family: $font-source;
                }
            }
        }
        &__list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            margin: 30px 0;
            box-sizing: border-box;
        }
        &__item {
            width: calc(100%/3 - 20px * 2/3);
            border-radius: 10px;
            border: 1px solid #CDD0D7;
            padding: 15px;
            background: #FFF;
        }

        &__top {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__item-title {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                h3 {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .right {
                span {
                    color: #CDD0D7;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        &__bottom {
            margin-top: 10px;

            p {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                text-align: justify;
            }
        }
    }

    .video-thumbnails {
        margin: 30px 0;

        &__container {
            @include container();
        }

        &__tops {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 100px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {
                    color: #2C2E35;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: $font-source;
                }

                p {
                    color: #2C2E35;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    font-family: $font-source;
                }
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
        }

        &__item {
            width: calc(100%/3 - 20px *2/3);
            margin-top: 30px;

            h3 {
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                font-family: $font-source;
                margin: 10px 0;
            }

            p {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                font-family: $font-source;
            }
        }

        &__item-preview {
            width: 100%;
            height: 243px;
            position: relative;
            background-image: url("../../assets/images/video_1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            overflow: hidden;

        }

        &__item-play-button {
            position: absolute;
            bottom: 15px;
            right: 15px;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }
        
    }

    .module {
        height: 800px !important;
        position: relative;
        top: 0;
        margin-bottom: 0 !important;

        &__container {
            @include container();
            padding: 50px 30px;
        }

        &__tops {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 160px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {
                    font-size: 40px;
                    color: #FFF;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: $font-source;
                }

                p {
                    color: #FFF;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        &__question {
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 30px 0 15px 0;
        }
    }

    .free-consultation {
        margin: 50px 0;
        overflow: hidden;
       
        &__container {
            @include container();
            
        }
       
        &__tops {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 100px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {
                    font-size: 40px;
                    color: #2C2E35;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: $font-source;
                }

                p {
                    color: #2C2E35;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        &__features {
            width: 100%;
            display: flex;
            margin: 30px 0;
            justify-content: space-between;
            align-items: stretch;
            height: 100%;

        }

        &__left {
            width: 45%;
            height: 100%;

        }

        &__cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: space-between;
        }

        &__card {
            width: calc(100%/2 - 20px);

        }



        &__card-text {
            p {
                color: #191B1D;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__right {
            width: 45%;
            height: 100%;
            z-index: 6 !important;
            position: relative;
            
            .form-container {
                padding: 50px 20px;
                width: 100%;
                border-radius: 10px;
                border: 1px solid #CDD0D7;
                background: #FFF;
                text-align: center;
                position: relative !important;
                display: block;

                .form {
                    width: 80%;
                    margin: 0 auto;
                }

                .agreement {
                    color: #191B1D;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 124%;
                }

                .form-title {
                    color: #191B1D;
                    text-align: center;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 30px;
                }

                .form-button {
                    border-radius: 5px;
                    background: #FD0;
                    color: #303030;
                    text-align: center;
                    display: block;
                    margin: 25px auto;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    border: none;
                    outline: none;
                    padding: 12px 25px;
                    width: 100%;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.5s ease-out, transform 0.2s ease-in-out;

                    &:hover {
                        background-color: darken(#ffdd00, 5%);
                        // transform: scale(1.05);
                        color: #FFFFFF;
                    }
                }

                .form-group {
                    margin: 30px 0;
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-evenly;
                    border-radius: 5px;
                    border: 1px solid #C5C5C5;

                    .form-control {
                        border: none;
                        outline: none;
                        position: relative;
                        display: block;

                    }

                    .svg {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &::before {
                            content: "";
                            width: 1px;
                            height: 25px;
                            background-color: #C5C5C5;
                            position: absolute;
                            left: -20px;
                            top: auto;
                            bottom: auto;

                        }
                    }
                }

                .form-checkbox-group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    margin: 20px 0;
                }

                .form-policy {
                    color: #191B1D;
                    text-align: center;
                    margin: 0 auto;
                    width: 80%;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 144%;
                }
            }
        }
        &__right-img{
            position: absolute;
            right: -80%;
            z-index: -1;
            top: 0;
           
        }
        &__bottom {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            .left {
                img {
                    width: 90%;
                }
            }

            .right {
                p {
                    text-align: left;
                    color: #191B1D;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }

    .team {
        height: 800px !important;
        position: relative;
        top: 0;
        margin-bottom: 0 !important;
        height: 800px !important;
        position: relative;
        top: 0;
        margin-bottom: 0 !important;
        padding: 50px 30px;

        &__container {
            @include container();
        }

        &__tops {
            display: flex;
            gap: 20px;

            .line {
                width: 7px;
                height: 160px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {

                    font-size: 48px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    color: #FFF;
                    font-family: $font-source;

                }

                p {
                    font-family: "Source Sans Pro";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: #FFF;
                    font-family: $font-source;

                }
            }
        }

        &__members {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 20px;
            margin: 30px 0;
        }

        &__member {
            width: calc(100%/3 - 20px *2/3);

            .team-member__image {
                height: 290px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .team-member__name {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 10px;
            }

            .team-member__title {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 5px 0;
            }

            .team-member__description {
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                margin: 10px 0;
            }

        }
    }

    .reviews-sources {
        margin: 50px 0;
        &__container {
            @include container();
        }

        &__top {
            display: flex;
            align-items: center;
            gap: 20px;

            .line {
                width: 7px;
                height: 160px;
                background-color: #FD0;
                border-radius: 5px;
            }

            .left {
                h2 {
                    color: #2C2E35;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: $font-source;
                }

                p {
                    color: #2C2E35;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    font-family: $font-source;
                }
            }
        }

        &__grid {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 30px 0;

        }

        &__item {
            width: calc(100%/4 - 20px *3/4);
            height: 161px;
            border-radius: 10px;
            border: 1px solid #CDD0D7;
            background-image: url("../../assets/images/yandex.png");
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .star-icon {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    color: #191B1D;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                }

            }
        }

        &__platform-name {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__reviews-count {
            margin-top: 10px;
            color: #FFB801;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }

        &__platform {
            display: flex;
            flex-direction: column;
        }

        &__overall {
            display: flex;
            align-items: center;
            gap: 20px;

            .left {
                display: flex;
                gap: 10px;
                align-items: center;

                svg {
                    display: block;
                }

                span {
                    display: block;
                    color: #FFB801;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            p {
                color: #2C2E35;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }
}